* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

@import "./global/config.scss";
@import "./global/utils.scss";
@import "./desktop/index.scss";
